@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

/*--------------------- .whatsapp-button ------------------ */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.whatsapp-button svg {
  width: 32px;
  height: 32px;
}

/* heeader-image */
/* Hero Section */
.hero-section {
  background-image: url("/src/assets/cadena2.jpg"); /* URL de tu imagen */
  background-size: cover; /* La imagen cubre completamente el contenedor */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: relative; /* Asegura el posicionamiento para superposiciones */
  color: white; /* Color del texto */
  display: flex; /* Utiliza flexbox para centrar */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  text-align: center; /* Centra el texto */
  height: 80vh; /* Ocupa toda la altura de la pantalla */
  margin: 0; /* Elimina márgenes externos */
  padding: 0; /* Elimina el relleno adicional */
}

.hero-section::before {
  content: ""; /* Elemento pseudo para superposición */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Superposición negra con transparencia */
  z-index: 1; /* Asegura que esté debajo del contenido */
}

.hero-content {
  position: relative; /* Asegura que el contenido esté sobre la superposición */
  z-index: 2; /* Coloca el contenido sobre la superposición */
  padding: 0 1rem; /* Añade un pequeño espacio interno */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.hero-content h1 {
  font-size: 2rem; /* Ajusta el tamaño del título */
}

.hero-content p {
  font-size: 1.25rem; /* Ajusta el tamaño del texto */
  margin-top: 5rem; /* Incrementa el espacio debajo del texto */
}

.hero-content a {
  margin-top: 5rem; /* Añade espacio adicional encima del botón */
}

/* -----------------Nuestra Historia -------------------*/
.aboutUs-col {
  background-color: black;
}

.aboutUs-img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.aboutUs-text {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1024px) {
  /* En pantallas más grandes (laptops) */
  .aboutUs-col {
    padding-right: 300px;
  }

  .aboutUs-text {
    padding-left: 50px;
  }
}

/*Shopping Cart */

body {
  background-color: white;
}

.individual-product h4 {
  font-size: large;
}

.individual-product {
  max-height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.product-pic {
  height: 120px;
  object-fit: cover;
}

.no-hover {
  min-width: 35px;
  width: 4vw;
  text-align: center;
  border: none;
}

.no-hover:focus {
  border-color: inherit;
  box-shadow: none;
}
