/*--------------------- .whatsapp-button ------------------ */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.whatsapp-button svg {
  width: 32px;
  height: 32px;
}

/* carrousel */

/* -----------------Nuestra Historia -------------------*/
.aboutUs-col {
  background-color: black;
}

.aboutUs-img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.aboutUs-text {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1024px) {
  /* En pantallas más grandes (laptops) */
  .aboutUs-col {
    padding-right: 300px;
  }

  .aboutUs-text {
    padding-left: 50px;
  }
}

/* En tu archivo CSS */
.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 999; /* Asegúrate de que el navbar quede por encima de otros elementos */
  box-shadow: 0 4px 2px -2px gray; /* Agrega una sombra para hacer que el navbar se destaque */
}

