/* Asegúrate de que html y body ocupen el 100% del ancho y alto */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Esto evitará cualquier desbordamiento horizontal */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}
